<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJD - JornalistAI</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body>
    <div class="flex justify-center items-center" style="height: 100vh;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div>
                <span class="text-4xl text-blue-700">JornalistAI</span>
                <p>Um experimento de <span class="font-bold font-serif">jornalismo de conversa</span> da turma do Master em Jornalismo de Dados do Insper</p>
            </div>
            <div style="width: 300px;" class="py-10">
                <span>
                    Você entrevistou o professor de jornalismo de dados do Insper, <span class="font-bold">Pedro Burgos</span>, sobre inteligência artificial. E você pensou: ao invés de fazer um texto com as principais aspas (que preguiça!), que tal deixar o público escolher o que perguntar?
                </span>
                <form>
                    <div class="py-2">
                    <textarea class="textarea textarea-info" placeholder="Faça uma pergunta" name="pergunta" style="width: 280px; height: 300px;"></textarea>
                </div>
                    <button class="button btn" hx-post="{{url_for('ask_gpt')}}" hx-target="#resultado">Perguntar</button>
                </form>
            </div>
            <div id="resultado">
            </div>
        </div>
    </div>
</body>

</html>